# Prevent directory listing
Options -Indexes

# Custom Error Pages
# Redirect 403 Forbidden to custom page
ErrorDocument 403 /PetCloud/403.php

# Redirect 404 Not Found to custom 403 page as requested
ErrorDocument 404 /PetCloud/403.php
